.wrapper {
  /* border: 1px solid red; */
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-top: 5rem;
  gap: 10px;
}

body {
  background-color: black;
}

.items {
  border: 1px solid white;
  border-radius: 10px;
  gap: 12px;
  color: white;
  padding: 13px;
  width: 500px;
}

.title_heading {
  cursor: pointer;
}
